rubrica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- elemento contenitore -->
    <xs:element name="rubrica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="voto_pratico" type="voto"/>
                <xs:element name="voto_pratico" type="voto"/>
                <xs:element name="media_dei_voti" type="media"/>
                <xs:element name="insufficiente" type="insufficiente"/>
                <xs:element name="commento" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="voto">
        <xs:annotation>
            <xs:documentation>Voto pratico (1-10)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="media">
        <xs:annotation>
            <xs:documentation>Media dei voti (1.0-10.0)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1.0"/>
            <xs:maxInclusive value="10.0"/>
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="insufficiente">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sì"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
